body{
    background: yellow;
}

/* page-1 */

ol{
    margin-inline: auto;
}

ol li{
    width: 500px;
    margin: 5px auto;
}

.index-1-container{
    margin: 0px auto;
}

.divs{
    width: 80px; 
    display: inline-block;
    height: 80px;
    margin: 25px 20px;
}

.skew{
    background: rgb(95, 95, 154);
    animation-name: skew;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes skew{
    0%{transform: skew(-20deg);}
    50%{transform: skew(20deg);}
    100%{transform: skew(-20deg);}
}

.skew2{
    background: gray;
    animation: skew2 infinite 5s ease;
}

@keyframes skew2{
    0%{
        transform: skewy(-20deg);
    }
    50%{
        transform: skewy(20deg);
    }
    100%{
        transform: skewy(-20deg);
    }
}

.rotate{
    background-color: rgb(87, 87, 163);
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.scaley{
    background:rgb(87, 87, 163);
    animation: scaley infinite 3s ease;
}

@keyframes scaley{
    0%{
        transform: scaley(0.5);
    }
    50%{
        transform: scaley(1);
    }
    100%{
        transform: scaley(0.5);
    }
}

.scalex{
    background: brown;
    animation: scalex infinite 3s linear;
}

@keyframes scalex{
    0%{
        transform: scalex(0.5);
    }
    50%{
        transform: scalex(1);
    }
    100%{
        transform: scalex(0.5);
    }
}

.rotate2{
    background: green;
    animation: rotate2 infinite 3s ease;
}

@keyframes rotate2{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-90deg);
    }
    100%{
        transform: scalex(0deg);
    }
}

/*page-2  */

.index-2-divs{
    width: 100px; 
    height: 100px;
    margin: 15px 20px;
}

.index-2-container{
    width: 250px;
    margin:auto;
}

.transition-div1{
    background: green;
    transition: ease 2s;
}

.transition-div1:hover{
    width: 250px;
}

.transition-div2{
    background: green;
    transition: ease-in 2s;
}

.transition-div2:hover{
    width: 300px;
    height: 250px;
}

.transition-div3{
    background: green;
    transition: ease-in-out 2s;
}

.transition-div3:hover{
    width: 300px;
}

.transition-div4{
    background: green;
    transition: ease-out 0.5s;
}

.transition-div4:hover{
    width: 300px;
}

.transition-div5{
    background: green;
    transition: linear 0.5s;
}

.transition-div5:hover{
    width: 300px;
}

.transition-div6{
    background: green;
    transition: step-end 0.5s;
}

.transition-div6:hover{
    width: 300px;
}

.transition-div7{
    background: green;
    transition: step-start 0.5s;
}

.transition-div7:hover{
    width: 300px;
}

.button{
    padding: 10px 30px;
    border: 2px solid green;
    background: green;
    margin: 0px auto;
    transition: all 0.2s linear;
}

.button:hover{
    background: white;
    color: rgb(31, 31, 31);
    border-color: white;
}

.btn-container{
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}

h2{
    text-align: center;
}

.button1{
    padding: 10px;
    /* width: 300px; */
    border: 2px solid green;
    background: green;
    /* margin: 0px auto; */
    transition: all 0.2s linear;
    text-align: center;
}

.button1:hover{
    background: white;
    color: rgb(31, 31, 31);
    border-color: white;
}



















/* page-3 */
.container{
    position: relative;
}

.sky{
    background-image: url('./sky.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
    height: 400px;
}

h1{
    text-align: center;
}

.happy{
    background-color: orange;
} 

.independence{
    background-color: white;
} 

.day{
    background-color: green; 
}

.city{
    height: 300px;
    width: 1500px;
    position: absolute;
    top: 110px;
    animation-name: city;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes city{
    0%{translate:0px 0px;}
    /* 50%{translate:-100px 0px;} */
    100%{translate:-100px 0px;}
}

.road{
    /* width: 97vw; */
    height: 150px;
    animation-name: road;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes road{
    0%{translate:0px 0px;}
    100%{translate:-1000px 0px;}
}

.car{
    width: 300px;
    position: absolute;
    top: 350px;
    left: 400px;
    animation-name: car;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes car {
    0%{translate:0px -1px;}
    50%{translate:0px 0px;}
    100%{translate:0px -1px;}
}

.back-tyre{
    width: 53px;
    position: absolute;
    top: 417px;
    left: 427px;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.front-tyre{
    width: 53px;
    position: absolute;
    top: 417px;
    left: 611px;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes rotate{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 900deg;
    }
}

.flag{
    position: absolute;
    top: 330px;
    left: 602px;
    width: 70px;
}

.sun{
    width: 60px;
    position: absolute;
    top: 80px;
    right:11px;
    animation-name: sun;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes sun{
    from{translate: 0px;}
    to{translate:-50px;}
}